---
const icon = "/icons/generalSections/004-wedding-presents.png";

const { id } = Astro.props;
const johnLewis = "/logos/John_Lewis_and_Partners-Logo.png";
const notOnTheHighStreet = "/logos/notOnTheHighStreet.png";
const argos = "/logos/argos_logo.png";
const mAndS = "/logos/Marks_and_Spencer-Logo.png";
const homeSense = "/logos/HomeSense-Logo.png";
const lakeland = "/logos/Lakeland_company-Logo.png";
const ikea = "/logos/ikea.png";
---

<div id={id} class="section-block">
    <h3 class="section-title">Gifts</h3>
    <div class="section-content">
        <img class="section-icon" src={icon} />
        <div class="section-content">
            <p class="section-content-text">
                The best present you could give us is joining us to share our
                day! If you would like to gift us something, we are hoping to
                buy our first nest soon and a voucher for one of the following
                would be very much appreciated:
            </p>
        </div>
    </div>
    <div class="shopping-gifts-section">
        <img src={johnLewis} />
        <img src={notOnTheHighStreet} />
        <img src={argos} />
        <img src={ikea} />
    </div>
    <div class="shopping-gifts-section">
        <img src={mAndS} />
        <img src={homeSense} />
        <img src={lakeland} />
    </div>
</div>

<style>
    .shopping-gifts-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 2rem 1rem 1rem 1rem;
    }

    .shopping-gifts-section img {
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: 10rem;
        -webkit-transform: scale(0.75); /* Saf3.1+, Chrome */
        -moz-transform: scale(0.75); /* FF3.5+ */
        -ms-transform: scale(0.75); /* IE9 */
        -o-transform: scale(0.75); /* Opera 10.5+ */
        transform: scale(0.75);
        margin: 0.5rem;
    }

    @media screen and (max-width: 768px) {
        .shopping-gifts-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .shopping-gifts-section img {
            max-width: 6rem;
            -webkit-transform: scale(0.95); /* Saf3.1+, Chrome */
            -moz-transform: scale(0.95); /* FF3.5+ */
            -ms-transform: scale(0.95); /* IE9 */
            -o-transform: scale(0.95); /* Opera 10.5+ */
            transform: scale(0.95);
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
</style>
