---
import "../styles/global.css";
import Navbar from "../components/Navbar/Navbar.jsx";
import NavItem from "../components/Navbar/NavItem.astro";

const navbarProperties = [
	{ "aria-label":"Welcome", text:"Welcome", href:"/"},
	{ "aria-label": "The Day Section", text: "The Day", href: "/the-day" },
	{
		"aria-label": "Accommodation Section",
		text: "Accommodation",
		href: "/accommodation"
	},
	{
		"aria-label": "Transport Section",
		text: "Transport",
		href: "/transport"
	},
	{ "aria-label": "Gifts Section", text: "Gifts", href: "/gifts" },
	{
		"aria-label": "The Send Off Section",
		text: "The Send Off",
		href: "/send-off",
	},
];

export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="robots" content="noindex" />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/ico" href="/logo.ico" />
		<title>{title}</title>
	</head>

	<body>
		<Navbar client:load>
			{
				navbarProperties.map(
					({ href, text, "aria-label": ariaLabel }) => (
						<NavItem {text} href={href} aria-label={ariaLabel}>
							{text}
						</NavItem>
					)
				)
			}
		</Navbar>
		<main>
			<slot />
		</main>

		<style>
			:root {
				--font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
				--font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
				--font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

				--color-text: rgb(67.1, 6.7, 6.7);
				--color-bg: hsl(0, 0%, 99%);
				--color-border: hsl(0, 0%, 99%);
			}

			@font-face {
				font-family: "Adelia";
				src: url("/fonts/adelia-webfont.woff") format("woff");
				font-weight: normal;
				font-style: normal;
				font-display: swap;
			}

			@font-face {
				font-family: "Lanenar";
				src: url("/fonts/lanenar-webfont.woff") format("woff");
				font-weight: normal;
				font-style: normal;
				font-display: swap;
			}

			html {
				font-family: "Lanenar", "Adelia";
				font-size: var(--font-size-base);
				color: var(--color-text);
				background-color: var(--color-bg);
			}

			:global(html) {
				scroll-behavior: smooth;
			}

			@media (prefers-reduced-motion: reduce) {
				:global(html) {
					scroll-behavior: auto;
				}
			}

			body {
				margin: 0;
				text-align: justify;
				text-justify: inter-word;
			}

			:global(h1) {
				font-size: var(--font-size-xl);
				font-family: "Adelia";
			}

			:global(h2) {
				display: block;
				font-size: var(--font-size-lg);
				font-family: "Lanenar";
			}

			:global(h3) {
				font-size: var(--font-size-lg);
				font-family: "Adelia";
			}

			:global(h4) {
				font-family: "Lanenar";
				margin-bottom: 0;
			}

			:global(ul) {
				margin: 1rem;
			}
			:global(code) {
				font-family: "Lanenar", "Adelia", Menlo, Monaco, Lucida Console,
					Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono,
					Courier New, monospace;
			}

			.footer {
				font-size: smaller;
				font-style: ;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				margin-top: 2rem;
			}
		</style>
	</body>
	<hr />
</html>
